<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @staff.staff_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff.last_name %>
</p>

<p>
  <strong>Date of joining:</strong>
  <%= @staff.date_of_joining %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @staff.dob %>
</p>

<p>
  <strong>Department:</strong>
  <%= @staff.department %>
</p>

<p>
  <strong>Staff position:</strong>
  <%= @staff.staff_position %>
</p>

<p>
  <strong>Staff grade:</strong>
  <%= @staff.staff_grade %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @staff.qualification %>
</p>

<p>
  <strong>Experience info:</strong>
  <%= @staff.experience_info %>
</p>

<p>
  <strong>Experience years:</strong>
  <%= @staff.experience_years %>
</p>

<p>
  <strong>Experience months:</strong>
  <%= @staff.experience_months %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @staff.marital_status %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @staff.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @staff.mother_name %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @staff.spouse_name %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @staff.blood_group %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @staff.nationality %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @staff.mobile_no %>
</p>

<p>
  <strong>Bank account no:</strong>
  <%= @staff.bank_account_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @staff.pan_no %>
</p>

<p>
  <strong>Adhaar no:</strong>
  <%= @staff.adhaar_no %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
