<h1 style="color:red;text-align:center;">CAMPEX</h1>
<ul>
  <li><%= link_to 'Departments', departments_path %> </li>
  <li><%= link_to 'Course types', course_types_path %></li>
  <li><%= link_to 'Courses', courses_path %></li>
  <li><%= link_to 'Paper Types', paper_types_path %></li>
  <li><%= link_to 'Staff Category', staff_categories_path %></li>
</ul>