<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :department %><br>
    <%= select_tag :department, options_from_collection_for_select(Department.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :course_type %><br>
    <%= f.select :course_type_id, "", prompt: "select a Course Type" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
