<%= form_for(@staff_position) do |f| %>
  <% if @staff_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_position.errors.count, "error") %> prohibited this staff_position from being saved:</h2>

      <ul>
      <% @staff_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 <div class="field">
   <%= f.label :category %><br>
   <%= f.select :staff_category_id, options_from_collection_for_select(StaffCategory.all, :id, :name) %>
 </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
